@model Alpaca.Portal.Web.ViewModels.Notices.Detail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Head.NoticeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Head.NoticeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Head.RegistDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Head.RegistDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body.NoticeBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body.NoticeBody)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Head.NoticeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
