@model IEnumerable<Alpaca.Portal.Web.Models.Notice>

@{
    ViewData["Title"] = "お知らせ";
}

<h1>お知らせ一覧</h1>

<p>
    @if (User.IsInRole("Administrators"))
    {
        <a asp-action="Create">新規作成</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoticeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.NoticeId">
                    @Html.DisplayFor(modelItem => item.NoticeTitle)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistDate)
            </td>
            <td>
                 
                @if (@User.IsInRole("Administrators"))
                {
                        <a asp-action="Edit" asp-route-id="@item.NoticeId">&nbsp;編集&nbsp;</a>
                        <a asp-action="Delete" asp-route-id="@item.NoticeId">&nbsp;削除&nbsp;</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
